@mixin btn($bg-color: #e2e2e2) {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  padding: $p1;
  border-radius: $btn-radios;
  background: $bg-color;
}

.btn {
  @include btn();
}

@each $key, $val in $colors {
  .btn-#{$key} {
    border: none;
    @include btn($val);

    &:hover {
      background: lighten($val, 5);
    }
  }
  .btn-outlined-#{$key} {
    border: $btn-border;
    border-color: $val;
    @include btn(transparent);

    &:hover {
      background: lighten($val, 5);
    }
  }

  .btn-complement-#{$key} {
    border: $btn-border;
    border-color: $val;
    @include btn($val);
    color: lightComp($val);

    &:hover {
      color: $val;
      background: lightComp($val);
    }
  }
}
