@mixin btn() {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: none;
  padding: $p1;
  border-radius: $btn-radios;
}

@each $key, $val in $colors {
  .btn-#{$key} {
    background: $val;
  }
  .btn-outlined-#{$key} {
    background: $val;
    border: $btn-border;
    border-color: $val;
  }
}
