/* responsive */
/* colors */
/* spacing */
/* buttons border */
/* transition */
/* box shadow & text shadow */
/* font sizes */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  color: black;
  text-decoration: none;
}

ul {
  display: flex;
}

li {
  list-style: none;
}

.p1 {
  padding: 1rem;
}

.p2 {
  padding: 1rem;
}

.m1 {
  padding: 1rem;
}

.m2 {
  padding: 2rem;
}

.bo-r {
  border-radius: 1.6666666667rem;
}

.container {
  width: 100%;
  min-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
}

.row {
  display: flex;
  flex-flow: row wrap;
}

@media (min-width: 0) {
  .col-0-xs {
    flex-grow: 0;
    width: 0%;
    box-sizing: border-box;
  }

  .col-1-xs {
    flex-grow: 0;
    width: 8.3333333333%;
    box-sizing: border-box;
  }

  .col-2-xs {
    flex-grow: 0;
    width: 16.6666666667%;
    box-sizing: border-box;
  }

  .col-3-xs {
    flex-grow: 0;
    width: 25%;
    box-sizing: border-box;
  }

  .col-4-xs {
    flex-grow: 0;
    width: 33.3333333333%;
    box-sizing: border-box;
  }

  .col-5-xs {
    flex-grow: 0;
    width: 41.6666666667%;
    box-sizing: border-box;
  }

  .col-6-xs {
    flex-grow: 0;
    width: 50%;
    box-sizing: border-box;
  }

  .col-7-xs {
    flex-grow: 0;
    width: 58.3333333333%;
    box-sizing: border-box;
  }

  .col-8-xs {
    flex-grow: 0;
    width: 66.6666666667%;
    box-sizing: border-box;
  }

  .col-9-xs {
    flex-grow: 0;
    width: 75%;
    box-sizing: border-box;
  }

  .col-10-xs {
    flex-grow: 0;
    width: 83.3333333333%;
    box-sizing: border-box;
  }

  .col-11-xs {
    flex-grow: 0;
    width: 91.6666666667%;
    box-sizing: border-box;
  }
}
@media (min-width: 480px) {
  .col-0-sm {
    flex-grow: 0;
    width: 0%;
    box-sizing: border-box;
  }

  .col-1-sm {
    flex-grow: 0;
    width: 8.3333333333%;
    box-sizing: border-box;
  }

  .col-2-sm {
    flex-grow: 0;
    width: 16.6666666667%;
    box-sizing: border-box;
  }

  .col-3-sm {
    flex-grow: 0;
    width: 25%;
    box-sizing: border-box;
  }

  .col-4-sm {
    flex-grow: 0;
    width: 33.3333333333%;
    box-sizing: border-box;
  }

  .col-5-sm {
    flex-grow: 0;
    width: 41.6666666667%;
    box-sizing: border-box;
  }

  .col-6-sm {
    flex-grow: 0;
    width: 50%;
    box-sizing: border-box;
  }

  .col-7-sm {
    flex-grow: 0;
    width: 58.3333333333%;
    box-sizing: border-box;
  }

  .col-8-sm {
    flex-grow: 0;
    width: 66.6666666667%;
    box-sizing: border-box;
  }

  .col-9-sm {
    flex-grow: 0;
    width: 75%;
    box-sizing: border-box;
  }

  .col-10-sm {
    flex-grow: 0;
    width: 83.3333333333%;
    box-sizing: border-box;
  }

  .col-11-sm {
    flex-grow: 0;
    width: 91.6666666667%;
    box-sizing: border-box;
  }
}
@media (min-width: 720px) {
  .col-0-md {
    flex-grow: 0;
    width: 0%;
    box-sizing: border-box;
  }

  .col-1-md {
    flex-grow: 0;
    width: 8.3333333333%;
    box-sizing: border-box;
  }

  .col-2-md {
    flex-grow: 0;
    width: 16.6666666667%;
    box-sizing: border-box;
  }

  .col-3-md {
    flex-grow: 0;
    width: 25%;
    box-sizing: border-box;
  }

  .col-4-md {
    flex-grow: 0;
    width: 33.3333333333%;
    box-sizing: border-box;
  }

  .col-5-md {
    flex-grow: 0;
    width: 41.6666666667%;
    box-sizing: border-box;
  }

  .col-6-md {
    flex-grow: 0;
    width: 50%;
    box-sizing: border-box;
  }

  .col-7-md {
    flex-grow: 0;
    width: 58.3333333333%;
    box-sizing: border-box;
  }

  .col-8-md {
    flex-grow: 0;
    width: 66.6666666667%;
    box-sizing: border-box;
  }

  .col-9-md {
    flex-grow: 0;
    width: 75%;
    box-sizing: border-box;
  }

  .col-10-md {
    flex-grow: 0;
    width: 83.3333333333%;
    box-sizing: border-box;
  }

  .col-11-md {
    flex-grow: 0;
    width: 91.6666666667%;
    box-sizing: border-box;
  }
}
@media (min-width: 960px) {
  .col-0-lg {
    flex-grow: 0;
    width: 0%;
    box-sizing: border-box;
  }

  .col-1-lg {
    flex-grow: 0;
    width: 8.3333333333%;
    box-sizing: border-box;
  }

  .col-2-lg {
    flex-grow: 0;
    width: 16.6666666667%;
    box-sizing: border-box;
  }

  .col-3-lg {
    flex-grow: 0;
    width: 25%;
    box-sizing: border-box;
  }

  .col-4-lg {
    flex-grow: 0;
    width: 33.3333333333%;
    box-sizing: border-box;
  }

  .col-5-lg {
    flex-grow: 0;
    width: 41.6666666667%;
    box-sizing: border-box;
  }

  .col-6-lg {
    flex-grow: 0;
    width: 50%;
    box-sizing: border-box;
  }

  .col-7-lg {
    flex-grow: 0;
    width: 58.3333333333%;
    box-sizing: border-box;
  }

  .col-8-lg {
    flex-grow: 0;
    width: 66.6666666667%;
    box-sizing: border-box;
  }

  .col-9-lg {
    flex-grow: 0;
    width: 75%;
    box-sizing: border-box;
  }

  .col-10-lg {
    flex-grow: 0;
    width: 83.3333333333%;
    box-sizing: border-box;
  }

  .col-11-lg {
    flex-grow: 0;
    width: 91.6666666667%;
    box-sizing: border-box;
  }
}
@media (min-width: 1200px) {
  .col-0-xl {
    flex-grow: 0;
    width: 0%;
    box-sizing: border-box;
  }

  .col-1-xl {
    flex-grow: 0;
    width: 8.3333333333%;
    box-sizing: border-box;
  }

  .col-2-xl {
    flex-grow: 0;
    width: 16.6666666667%;
    box-sizing: border-box;
  }

  .col-3-xl {
    flex-grow: 0;
    width: 25%;
    box-sizing: border-box;
  }

  .col-4-xl {
    flex-grow: 0;
    width: 33.3333333333%;
    box-sizing: border-box;
  }

  .col-5-xl {
    flex-grow: 0;
    width: 41.6666666667%;
    box-sizing: border-box;
  }

  .col-6-xl {
    flex-grow: 0;
    width: 50%;
    box-sizing: border-box;
  }

  .col-7-xl {
    flex-grow: 0;
    width: 58.3333333333%;
    box-sizing: border-box;
  }

  .col-8-xl {
    flex-grow: 0;
    width: 66.6666666667%;
    box-sizing: border-box;
  }

  .col-9-xl {
    flex-grow: 0;
    width: 75%;
    box-sizing: border-box;
  }

  .col-10-xl {
    flex-grow: 0;
    width: 83.3333333333%;
    box-sizing: border-box;
  }

  .col-11-xl {
    flex-grow: 0;
    width: 91.6666666667%;
    box-sizing: border-box;
  }
}
.text-primery {
  color: #0059ff;
}

.bg-primery {
  background: #0059ff;
}

.bg-hover-primery {
  transition: all 0.5s ease;
}
.bg-hover-primery:hover {
  background: #0059ff;
}

/* light variations */
.text-primery-light-1 {
  color: #1a6aff;
}

.bg-primery-light-1 {
  background: #1a6aff;
}

/* light hover */
.bg-hover-primery-light-1 {
  transition: all 0.5s ease;
}
.bg-hover-primery-light-1:hover {
  background: #1a6aff;
}

.text-primery-light-2 {
  color: #337aff;
}

.bg-primery-light-2 {
  background: #337aff;
}

/* light hover */
.bg-hover-primery-light-2 {
  transition: all 0.5s ease;
}
.bg-hover-primery-light-2:hover {
  background: #337aff;
}

.text-primery-light-3 {
  color: #4d8bff;
}

.bg-primery-light-3 {
  background: #4d8bff;
}

/* light hover */
.bg-hover-primery-light-3 {
  transition: all 0.5s ease;
}
.bg-hover-primery-light-3:hover {
  background: #4d8bff;
}

.text-primery-light-4 {
  color: #669bff;
}

.bg-primery-light-4 {
  background: #669bff;
}

/* light hover */
.bg-hover-primery-light-4 {
  transition: all 0.5s ease;
}
.bg-hover-primery-light-4:hover {
  background: #669bff;
}

.text-primery-light-5 {
  color: #80acff;
}

.bg-primery-light-5 {
  background: #80acff;
}

/* light hover */
.bg-hover-primery-light-5 {
  transition: all 0.5s ease;
}
.bg-hover-primery-light-5:hover {
  background: #80acff;
}

.text-primery-light-6 {
  color: #99bdff;
}

.bg-primery-light-6 {
  background: #99bdff;
}

/* light hover */
.bg-hover-primery-light-6 {
  transition: all 0.5s ease;
}
.bg-hover-primery-light-6:hover {
  background: #99bdff;
}

.text-primery-light-7 {
  color: #b3cdff;
}

.bg-primery-light-7 {
  background: #b3cdff;
}

/* light hover */
.bg-hover-primery-light-7 {
  transition: all 0.5s ease;
}
.bg-hover-primery-light-7:hover {
  background: #b3cdff;
}

.text-primery-light-8 {
  color: #ccdeff;
}

.bg-primery-light-8 {
  background: #ccdeff;
}

/* light hover */
.bg-hover-primery-light-8 {
  transition: all 0.5s ease;
}
.bg-hover-primery-light-8:hover {
  background: #ccdeff;
}

/* dark variations */
.text-primery-dark-1 {
  color: #0050e6;
}

.bg-primery-dark-1 {
  background: #0050e6;
}

/* dark hover */
.bg-hover-primery-dark-1 {
  transition: all 0.5s ease;
}
.bg-hover-primery-dark-1:hover {
  background: #0050e6;
}

.text-primery-dark-2 {
  color: #0047cc;
}

.bg-primery-dark-2 {
  background: #0047cc;
}

/* dark hover */
.bg-hover-primery-dark-2 {
  transition: all 0.5s ease;
}
.bg-hover-primery-dark-2:hover {
  background: #0047cc;
}

.text-primery-dark-3 {
  color: #003eb3;
}

.bg-primery-dark-3 {
  background: #003eb3;
}

/* dark hover */
.bg-hover-primery-dark-3 {
  transition: all 0.5s ease;
}
.bg-hover-primery-dark-3:hover {
  background: #003eb3;
}

.text-primery-dark-4 {
  color: #003599;
}

.bg-primery-dark-4 {
  background: #003599;
}

/* dark hover */
.bg-hover-primery-dark-4 {
  transition: all 0.5s ease;
}
.bg-hover-primery-dark-4:hover {
  background: #003599;
}

.text-primery-dark-5 {
  color: #002d80;
}

.bg-primery-dark-5 {
  background: #002d80;
}

/* dark hover */
.bg-hover-primery-dark-5 {
  transition: all 0.5s ease;
}
.bg-hover-primery-dark-5:hover {
  background: #002d80;
}

.text-primery-dark-6 {
  color: #002466;
}

.bg-primery-dark-6 {
  background: #002466;
}

/* dark hover */
.bg-hover-primery-dark-6 {
  transition: all 0.5s ease;
}
.bg-hover-primery-dark-6:hover {
  background: #002466;
}

.text-primery-dark-7 {
  color: #001b4d;
}

.bg-primery-dark-7 {
  background: #001b4d;
}

/* dark hover */
.bg-hover-primery-dark-7 {
  transition: all 0.5s ease;
}
.bg-hover-primery-dark-7:hover {
  background: #001b4d;
}

.text-primery-dark-8 {
  color: #001233;
}

.bg-primery-dark-8 {
  background: #001233;
}

/* dark hover */
.bg-hover-primery-dark-8 {
  transition: all 0.5s ease;
}
.bg-hover-primery-dark-8:hover {
  background: #001233;
}

.text-warning {
  color: #fbff00;
}

.bg-warning {
  background: #fbff00;
}

.bg-hover-warning {
  transition: all 0.5s ease;
}
.bg-hover-warning:hover {
  background: #fbff00;
}

/* light variations */
.text-warning-light-1 {
  color: #fbff1a;
}

.bg-warning-light-1 {
  background: #fbff1a;
}

/* light hover */
.bg-hover-warning-light-1 {
  transition: all 0.5s ease;
}
.bg-hover-warning-light-1:hover {
  background: #fbff1a;
}

.text-warning-light-2 {
  color: #fcff33;
}

.bg-warning-light-2 {
  background: #fcff33;
}

/* light hover */
.bg-hover-warning-light-2 {
  transition: all 0.5s ease;
}
.bg-hover-warning-light-2:hover {
  background: #fcff33;
}

.text-warning-light-3 {
  color: #fcff4d;
}

.bg-warning-light-3 {
  background: #fcff4d;
}

/* light hover */
.bg-hover-warning-light-3 {
  transition: all 0.5s ease;
}
.bg-hover-warning-light-3:hover {
  background: #fcff4d;
}

.text-warning-light-4 {
  color: #fdff66;
}

.bg-warning-light-4 {
  background: #fdff66;
}

/* light hover */
.bg-hover-warning-light-4 {
  transition: all 0.5s ease;
}
.bg-hover-warning-light-4:hover {
  background: #fdff66;
}

.text-warning-light-5 {
  color: #fdff80;
}

.bg-warning-light-5 {
  background: #fdff80;
}

/* light hover */
.bg-hover-warning-light-5 {
  transition: all 0.5s ease;
}
.bg-hover-warning-light-5:hover {
  background: #fdff80;
}

.text-warning-light-6 {
  color: #fdff99;
}

.bg-warning-light-6 {
  background: #fdff99;
}

/* light hover */
.bg-hover-warning-light-6 {
  transition: all 0.5s ease;
}
.bg-hover-warning-light-6:hover {
  background: #fdff99;
}

.text-warning-light-7 {
  color: #feffb3;
}

.bg-warning-light-7 {
  background: #feffb3;
}

/* light hover */
.bg-hover-warning-light-7 {
  transition: all 0.5s ease;
}
.bg-hover-warning-light-7:hover {
  background: #feffb3;
}

.text-warning-light-8 {
  color: #feffcc;
}

.bg-warning-light-8 {
  background: #feffcc;
}

/* light hover */
.bg-hover-warning-light-8 {
  transition: all 0.5s ease;
}
.bg-hover-warning-light-8:hover {
  background: #feffcc;
}

/* dark variations */
.text-warning-dark-1 {
  color: #e2e600;
}

.bg-warning-dark-1 {
  background: #e2e600;
}

/* dark hover */
.bg-hover-warning-dark-1 {
  transition: all 0.5s ease;
}
.bg-hover-warning-dark-1:hover {
  background: #e2e600;
}

.text-warning-dark-2 {
  color: #c9cc00;
}

.bg-warning-dark-2 {
  background: #c9cc00;
}

/* dark hover */
.bg-hover-warning-dark-2 {
  transition: all 0.5s ease;
}
.bg-hover-warning-dark-2:hover {
  background: #c9cc00;
}

.text-warning-dark-3 {
  color: #b0b300;
}

.bg-warning-dark-3 {
  background: #b0b300;
}

/* dark hover */
.bg-hover-warning-dark-3 {
  transition: all 0.5s ease;
}
.bg-hover-warning-dark-3:hover {
  background: #b0b300;
}

.text-warning-dark-4 {
  color: #979900;
}

.bg-warning-dark-4 {
  background: #979900;
}

/* dark hover */
.bg-hover-warning-dark-4 {
  transition: all 0.5s ease;
}
.bg-hover-warning-dark-4:hover {
  background: #979900;
}

.text-warning-dark-5 {
  color: #7e8000;
}

.bg-warning-dark-5 {
  background: #7e8000;
}

/* dark hover */
.bg-hover-warning-dark-5 {
  transition: all 0.5s ease;
}
.bg-hover-warning-dark-5:hover {
  background: #7e8000;
}

.text-warning-dark-6 {
  color: #646600;
}

.bg-warning-dark-6 {
  background: #646600;
}

/* dark hover */
.bg-hover-warning-dark-6 {
  transition: all 0.5s ease;
}
.bg-hover-warning-dark-6:hover {
  background: #646600;
}

.text-warning-dark-7 {
  color: #4b4d00;
}

.bg-warning-dark-7 {
  background: #4b4d00;
}

/* dark hover */
.bg-hover-warning-dark-7 {
  transition: all 0.5s ease;
}
.bg-hover-warning-dark-7:hover {
  background: #4b4d00;
}

.text-warning-dark-8 {
  color: #323300;
}

.bg-warning-dark-8 {
  background: #323300;
}

/* dark hover */
.bg-hover-warning-dark-8 {
  transition: all 0.5s ease;
}
.bg-hover-warning-dark-8:hover {
  background: #323300;
}

.text-danger {
  color: red;
}

.bg-danger {
  background: red;
}

.bg-hover-danger {
  transition: all 0.5s ease;
}
.bg-hover-danger:hover {
  background: red;
}

/* light variations */
.text-danger-light-1 {
  color: #ff1a1a;
}

.bg-danger-light-1 {
  background: #ff1a1a;
}

/* light hover */
.bg-hover-danger-light-1 {
  transition: all 0.5s ease;
}
.bg-hover-danger-light-1:hover {
  background: #ff1a1a;
}

.text-danger-light-2 {
  color: #ff3333;
}

.bg-danger-light-2 {
  background: #ff3333;
}

/* light hover */
.bg-hover-danger-light-2 {
  transition: all 0.5s ease;
}
.bg-hover-danger-light-2:hover {
  background: #ff3333;
}

.text-danger-light-3 {
  color: #ff4d4d;
}

.bg-danger-light-3 {
  background: #ff4d4d;
}

/* light hover */
.bg-hover-danger-light-3 {
  transition: all 0.5s ease;
}
.bg-hover-danger-light-3:hover {
  background: #ff4d4d;
}

.text-danger-light-4 {
  color: #ff6666;
}

.bg-danger-light-4 {
  background: #ff6666;
}

/* light hover */
.bg-hover-danger-light-4 {
  transition: all 0.5s ease;
}
.bg-hover-danger-light-4:hover {
  background: #ff6666;
}

.text-danger-light-5 {
  color: #ff8080;
}

.bg-danger-light-5 {
  background: #ff8080;
}

/* light hover */
.bg-hover-danger-light-5 {
  transition: all 0.5s ease;
}
.bg-hover-danger-light-5:hover {
  background: #ff8080;
}

.text-danger-light-6 {
  color: #ff9999;
}

.bg-danger-light-6 {
  background: #ff9999;
}

/* light hover */
.bg-hover-danger-light-6 {
  transition: all 0.5s ease;
}
.bg-hover-danger-light-6:hover {
  background: #ff9999;
}

.text-danger-light-7 {
  color: #ffb3b3;
}

.bg-danger-light-7 {
  background: #ffb3b3;
}

/* light hover */
.bg-hover-danger-light-7 {
  transition: all 0.5s ease;
}
.bg-hover-danger-light-7:hover {
  background: #ffb3b3;
}

.text-danger-light-8 {
  color: #ffcccc;
}

.bg-danger-light-8 {
  background: #ffcccc;
}

/* light hover */
.bg-hover-danger-light-8 {
  transition: all 0.5s ease;
}
.bg-hover-danger-light-8:hover {
  background: #ffcccc;
}

/* dark variations */
.text-danger-dark-1 {
  color: #e60000;
}

.bg-danger-dark-1 {
  background: #e60000;
}

/* dark hover */
.bg-hover-danger-dark-1 {
  transition: all 0.5s ease;
}
.bg-hover-danger-dark-1:hover {
  background: #e60000;
}

.text-danger-dark-2 {
  color: #cc0000;
}

.bg-danger-dark-2 {
  background: #cc0000;
}

/* dark hover */
.bg-hover-danger-dark-2 {
  transition: all 0.5s ease;
}
.bg-hover-danger-dark-2:hover {
  background: #cc0000;
}

.text-danger-dark-3 {
  color: #b30000;
}

.bg-danger-dark-3 {
  background: #b30000;
}

/* dark hover */
.bg-hover-danger-dark-3 {
  transition: all 0.5s ease;
}
.bg-hover-danger-dark-3:hover {
  background: #b30000;
}

.text-danger-dark-4 {
  color: #990000;
}

.bg-danger-dark-4 {
  background: #990000;
}

/* dark hover */
.bg-hover-danger-dark-4 {
  transition: all 0.5s ease;
}
.bg-hover-danger-dark-4:hover {
  background: #990000;
}

.text-danger-dark-5 {
  color: maroon;
}

.bg-danger-dark-5 {
  background: maroon;
}

/* dark hover */
.bg-hover-danger-dark-5 {
  transition: all 0.5s ease;
}
.bg-hover-danger-dark-5:hover {
  background: maroon;
}

.text-danger-dark-6 {
  color: #660000;
}

.bg-danger-dark-6 {
  background: #660000;
}

/* dark hover */
.bg-hover-danger-dark-6 {
  transition: all 0.5s ease;
}
.bg-hover-danger-dark-6:hover {
  background: #660000;
}

.text-danger-dark-7 {
  color: #4d0000;
}

.bg-danger-dark-7 {
  background: #4d0000;
}

/* dark hover */
.bg-hover-danger-dark-7 {
  transition: all 0.5s ease;
}
.bg-hover-danger-dark-7:hover {
  background: #4d0000;
}

.text-danger-dark-8 {
  color: #330000;
}

.bg-danger-dark-8 {
  background: #330000;
}

/* dark hover */
.bg-hover-danger-dark-8 {
  transition: all 0.5s ease;
}
.bg-hover-danger-dark-8:hover {
  background: #330000;
}

.text-black {
  color: black;
}

.bg-black {
  background: black;
}

.bg-hover-black {
  transition: all 0.5s ease;
}
.bg-hover-black:hover {
  background: black;
}

.text-red {
  color: red;
}

.bg-red {
  background: red;
}

.bg-hover-red {
  transition: all 0.5s ease;
}
.bg-hover-red:hover {
  background: red;
}

/* light variations */
.text-red-light-1 {
  color: #ff1a1a;
}

.bg-red-light-1 {
  background: #ff1a1a;
}

/* light hover */
.bg-hover-red-light-1 {
  transition: all 0.5s ease;
}
.bg-hover-red-light-1:hover {
  background: #ff1a1a;
}

.text-red-light-2 {
  color: #ff3333;
}

.bg-red-light-2 {
  background: #ff3333;
}

/* light hover */
.bg-hover-red-light-2 {
  transition: all 0.5s ease;
}
.bg-hover-red-light-2:hover {
  background: #ff3333;
}

.text-red-light-3 {
  color: #ff4d4d;
}

.bg-red-light-3 {
  background: #ff4d4d;
}

/* light hover */
.bg-hover-red-light-3 {
  transition: all 0.5s ease;
}
.bg-hover-red-light-3:hover {
  background: #ff4d4d;
}

.text-red-light-4 {
  color: #ff6666;
}

.bg-red-light-4 {
  background: #ff6666;
}

/* light hover */
.bg-hover-red-light-4 {
  transition: all 0.5s ease;
}
.bg-hover-red-light-4:hover {
  background: #ff6666;
}

.text-red-light-5 {
  color: #ff8080;
}

.bg-red-light-5 {
  background: #ff8080;
}

/* light hover */
.bg-hover-red-light-5 {
  transition: all 0.5s ease;
}
.bg-hover-red-light-5:hover {
  background: #ff8080;
}

.text-red-light-6 {
  color: #ff9999;
}

.bg-red-light-6 {
  background: #ff9999;
}

/* light hover */
.bg-hover-red-light-6 {
  transition: all 0.5s ease;
}
.bg-hover-red-light-6:hover {
  background: #ff9999;
}

.text-red-light-7 {
  color: #ffb3b3;
}

.bg-red-light-7 {
  background: #ffb3b3;
}

/* light hover */
.bg-hover-red-light-7 {
  transition: all 0.5s ease;
}
.bg-hover-red-light-7:hover {
  background: #ffb3b3;
}

.text-red-light-8 {
  color: #ffcccc;
}

.bg-red-light-8 {
  background: #ffcccc;
}

/* light hover */
.bg-hover-red-light-8 {
  transition: all 0.5s ease;
}
.bg-hover-red-light-8:hover {
  background: #ffcccc;
}

/* dark variations */
.text-red-dark-1 {
  color: #e60000;
}

.bg-red-dark-1 {
  background: #e60000;
}

/* dark hover */
.bg-hover-red-dark-1 {
  transition: all 0.5s ease;
}
.bg-hover-red-dark-1:hover {
  background: #e60000;
}

.text-red-dark-2 {
  color: #cc0000;
}

.bg-red-dark-2 {
  background: #cc0000;
}

/* dark hover */
.bg-hover-red-dark-2 {
  transition: all 0.5s ease;
}
.bg-hover-red-dark-2:hover {
  background: #cc0000;
}

.text-red-dark-3 {
  color: #b30000;
}

.bg-red-dark-3 {
  background: #b30000;
}

/* dark hover */
.bg-hover-red-dark-3 {
  transition: all 0.5s ease;
}
.bg-hover-red-dark-3:hover {
  background: #b30000;
}

.text-red-dark-4 {
  color: #990000;
}

.bg-red-dark-4 {
  background: #990000;
}

/* dark hover */
.bg-hover-red-dark-4 {
  transition: all 0.5s ease;
}
.bg-hover-red-dark-4:hover {
  background: #990000;
}

.text-red-dark-5 {
  color: maroon;
}

.bg-red-dark-5 {
  background: maroon;
}

/* dark hover */
.bg-hover-red-dark-5 {
  transition: all 0.5s ease;
}
.bg-hover-red-dark-5:hover {
  background: maroon;
}

.text-red-dark-6 {
  color: #660000;
}

.bg-red-dark-6 {
  background: #660000;
}

/* dark hover */
.bg-hover-red-dark-6 {
  transition: all 0.5s ease;
}
.bg-hover-red-dark-6:hover {
  background: #660000;
}

.text-red-dark-7 {
  color: #4d0000;
}

.bg-red-dark-7 {
  background: #4d0000;
}

/* dark hover */
.bg-hover-red-dark-7 {
  transition: all 0.5s ease;
}
.bg-hover-red-dark-7:hover {
  background: #4d0000;
}

.text-red-dark-8 {
  color: #330000;
}

.bg-red-dark-8 {
  background: #330000;
}

/* dark hover */
.bg-hover-red-dark-8 {
  transition: all 0.5s ease;
}
.bg-hover-red-dark-8:hover {
  background: #330000;
}

.text-green {
  color: #2bff00;
}

.bg-green {
  background: #2bff00;
}

.bg-hover-green {
  transition: all 0.5s ease;
}
.bg-hover-green:hover {
  background: #2bff00;
}

/* light variations */
.text-green-light-1 {
  color: #40ff1a;
}

.bg-green-light-1 {
  background: #40ff1a;
}

/* light hover */
.bg-hover-green-light-1 {
  transition: all 0.5s ease;
}
.bg-hover-green-light-1:hover {
  background: #40ff1a;
}

.text-green-light-2 {
  color: #55ff33;
}

.bg-green-light-2 {
  background: #55ff33;
}

/* light hover */
.bg-hover-green-light-2 {
  transition: all 0.5s ease;
}
.bg-hover-green-light-2:hover {
  background: #55ff33;
}

.text-green-light-3 {
  color: #6bff4d;
}

.bg-green-light-3 {
  background: #6bff4d;
}

/* light hover */
.bg-hover-green-light-3 {
  transition: all 0.5s ease;
}
.bg-hover-green-light-3:hover {
  background: #6bff4d;
}

.text-green-light-4 {
  color: #80ff66;
}

.bg-green-light-4 {
  background: #80ff66;
}

/* light hover */
.bg-hover-green-light-4 {
  transition: all 0.5s ease;
}
.bg-hover-green-light-4:hover {
  background: #80ff66;
}

.text-green-light-5 {
  color: #95ff80;
}

.bg-green-light-5 {
  background: #95ff80;
}

/* light hover */
.bg-hover-green-light-5 {
  transition: all 0.5s ease;
}
.bg-hover-green-light-5:hover {
  background: #95ff80;
}

.text-green-light-6 {
  color: #aaff99;
}

.bg-green-light-6 {
  background: #aaff99;
}

/* light hover */
.bg-hover-green-light-6 {
  transition: all 0.5s ease;
}
.bg-hover-green-light-6:hover {
  background: #aaff99;
}

.text-green-light-7 {
  color: #bfffb3;
}

.bg-green-light-7 {
  background: #bfffb3;
}

/* light hover */
.bg-hover-green-light-7 {
  transition: all 0.5s ease;
}
.bg-hover-green-light-7:hover {
  background: #bfffb3;
}

.text-green-light-8 {
  color: #d5ffcc;
}

.bg-green-light-8 {
  background: #d5ffcc;
}

/* light hover */
.bg-hover-green-light-8 {
  transition: all 0.5s ease;
}
.bg-hover-green-light-8:hover {
  background: #d5ffcc;
}

/* dark variations */
.text-green-dark-1 {
  color: #27e600;
}

.bg-green-dark-1 {
  background: #27e600;
}

/* dark hover */
.bg-hover-green-dark-1 {
  transition: all 0.5s ease;
}
.bg-hover-green-dark-1:hover {
  background: #27e600;
}

.text-green-dark-2 {
  color: #22cc00;
}

.bg-green-dark-2 {
  background: #22cc00;
}

/* dark hover */
.bg-hover-green-dark-2 {
  transition: all 0.5s ease;
}
.bg-hover-green-dark-2:hover {
  background: #22cc00;
}

.text-green-dark-3 {
  color: #1eb300;
}

.bg-green-dark-3 {
  background: #1eb300;
}

/* dark hover */
.bg-hover-green-dark-3 {
  transition: all 0.5s ease;
}
.bg-hover-green-dark-3:hover {
  background: #1eb300;
}

.text-green-dark-4 {
  color: #1a9900;
}

.bg-green-dark-4 {
  background: #1a9900;
}

/* dark hover */
.bg-hover-green-dark-4 {
  transition: all 0.5s ease;
}
.bg-hover-green-dark-4:hover {
  background: #1a9900;
}

.text-green-dark-5 {
  color: #168000;
}

.bg-green-dark-5 {
  background: #168000;
}

/* dark hover */
.bg-hover-green-dark-5 {
  transition: all 0.5s ease;
}
.bg-hover-green-dark-5:hover {
  background: #168000;
}

.text-green-dark-6 {
  color: #116600;
}

.bg-green-dark-6 {
  background: #116600;
}

/* dark hover */
.bg-hover-green-dark-6 {
  transition: all 0.5s ease;
}
.bg-hover-green-dark-6:hover {
  background: #116600;
}

.text-green-dark-7 {
  color: #0d4d00;
}

.bg-green-dark-7 {
  background: #0d4d00;
}

/* dark hover */
.bg-hover-green-dark-7 {
  transition: all 0.5s ease;
}
.bg-hover-green-dark-7:hover {
  background: #0d4d00;
}

.text-green-dark-8 {
  color: #093300;
}

.bg-green-dark-8 {
  background: #093300;
}

/* dark hover */
.bg-hover-green-dark-8 {
  transition: all 0.5s ease;
}
.bg-hover-green-dark-8:hover {
  background: #093300;
}

.text-magenta {
  color: #9900ff;
}

.bg-magenta {
  background: #9900ff;
}

.bg-hover-magenta {
  transition: all 0.5s ease;
}
.bg-hover-magenta:hover {
  background: #9900ff;
}

/* light variations */
.text-magenta-light-1 {
  color: #a31aff;
}

.bg-magenta-light-1 {
  background: #a31aff;
}

/* light hover */
.bg-hover-magenta-light-1 {
  transition: all 0.5s ease;
}
.bg-hover-magenta-light-1:hover {
  background: #a31aff;
}

.text-magenta-light-2 {
  color: #ad33ff;
}

.bg-magenta-light-2 {
  background: #ad33ff;
}

/* light hover */
.bg-hover-magenta-light-2 {
  transition: all 0.5s ease;
}
.bg-hover-magenta-light-2:hover {
  background: #ad33ff;
}

.text-magenta-light-3 {
  color: #b84dff;
}

.bg-magenta-light-3 {
  background: #b84dff;
}

/* light hover */
.bg-hover-magenta-light-3 {
  transition: all 0.5s ease;
}
.bg-hover-magenta-light-3:hover {
  background: #b84dff;
}

.text-magenta-light-4 {
  color: #c266ff;
}

.bg-magenta-light-4 {
  background: #c266ff;
}

/* light hover */
.bg-hover-magenta-light-4 {
  transition: all 0.5s ease;
}
.bg-hover-magenta-light-4:hover {
  background: #c266ff;
}

.text-magenta-light-5 {
  color: #cc80ff;
}

.bg-magenta-light-5 {
  background: #cc80ff;
}

/* light hover */
.bg-hover-magenta-light-5 {
  transition: all 0.5s ease;
}
.bg-hover-magenta-light-5:hover {
  background: #cc80ff;
}

.text-magenta-light-6 {
  color: #d699ff;
}

.bg-magenta-light-6 {
  background: #d699ff;
}

/* light hover */
.bg-hover-magenta-light-6 {
  transition: all 0.5s ease;
}
.bg-hover-magenta-light-6:hover {
  background: #d699ff;
}

.text-magenta-light-7 {
  color: #e0b3ff;
}

.bg-magenta-light-7 {
  background: #e0b3ff;
}

/* light hover */
.bg-hover-magenta-light-7 {
  transition: all 0.5s ease;
}
.bg-hover-magenta-light-7:hover {
  background: #e0b3ff;
}

.text-magenta-light-8 {
  color: #ebccff;
}

.bg-magenta-light-8 {
  background: #ebccff;
}

/* light hover */
.bg-hover-magenta-light-8 {
  transition: all 0.5s ease;
}
.bg-hover-magenta-light-8:hover {
  background: #ebccff;
}

/* dark variations */
.text-magenta-dark-1 {
  color: #8a00e6;
}

.bg-magenta-dark-1 {
  background: #8a00e6;
}

/* dark hover */
.bg-hover-magenta-dark-1 {
  transition: all 0.5s ease;
}
.bg-hover-magenta-dark-1:hover {
  background: #8a00e6;
}

.text-magenta-dark-2 {
  color: #7a00cc;
}

.bg-magenta-dark-2 {
  background: #7a00cc;
}

/* dark hover */
.bg-hover-magenta-dark-2 {
  transition: all 0.5s ease;
}
.bg-hover-magenta-dark-2:hover {
  background: #7a00cc;
}

.text-magenta-dark-3 {
  color: #6b00b3;
}

.bg-magenta-dark-3 {
  background: #6b00b3;
}

/* dark hover */
.bg-hover-magenta-dark-3 {
  transition: all 0.5s ease;
}
.bg-hover-magenta-dark-3:hover {
  background: #6b00b3;
}

.text-magenta-dark-4 {
  color: #5c0099;
}

.bg-magenta-dark-4 {
  background: #5c0099;
}

/* dark hover */
.bg-hover-magenta-dark-4 {
  transition: all 0.5s ease;
}
.bg-hover-magenta-dark-4:hover {
  background: #5c0099;
}

.text-magenta-dark-5 {
  color: #4d0080;
}

.bg-magenta-dark-5 {
  background: #4d0080;
}

/* dark hover */
.bg-hover-magenta-dark-5 {
  transition: all 0.5s ease;
}
.bg-hover-magenta-dark-5:hover {
  background: #4d0080;
}

.text-magenta-dark-6 {
  color: #3d0066;
}

.bg-magenta-dark-6 {
  background: #3d0066;
}

/* dark hover */
.bg-hover-magenta-dark-6 {
  transition: all 0.5s ease;
}
.bg-hover-magenta-dark-6:hover {
  background: #3d0066;
}

.text-magenta-dark-7 {
  color: #2e004d;
}

.bg-magenta-dark-7 {
  background: #2e004d;
}

/* dark hover */
.bg-hover-magenta-dark-7 {
  transition: all 0.5s ease;
}
.bg-hover-magenta-dark-7:hover {
  background: #2e004d;
}

.text-magenta-dark-8 {
  color: #1f0033;
}

.bg-magenta-dark-8 {
  background: #1f0033;
}

/* dark hover */
.bg-hover-magenta-dark-8 {
  transition: all 0.5s ease;
}
.bg-hover-magenta-dark-8:hover {
  background: #1f0033;
}

.text-yellow {
  color: #fcf700;
}

.bg-yellow {
  background: #fcf700;
}

.bg-hover-yellow {
  transition: all 0.5s ease;
}
.bg-hover-yellow:hover {
  background: #fcf700;
}

/* light variations */
.text-yellow-light-1 {
  color: #fcf81a;
}

.bg-yellow-light-1 {
  background: #fcf81a;
}

/* light hover */
.bg-hover-yellow-light-1 {
  transition: all 0.5s ease;
}
.bg-hover-yellow-light-1:hover {
  background: #fcf81a;
}

.text-yellow-light-2 {
  color: #fdf933;
}

.bg-yellow-light-2 {
  background: #fdf933;
}

/* light hover */
.bg-hover-yellow-light-2 {
  transition: all 0.5s ease;
}
.bg-hover-yellow-light-2:hover {
  background: #fdf933;
}

.text-yellow-light-3 {
  color: #fdf94d;
}

.bg-yellow-light-3 {
  background: #fdf94d;
}

/* light hover */
.bg-hover-yellow-light-3 {
  transition: all 0.5s ease;
}
.bg-hover-yellow-light-3:hover {
  background: #fdf94d;
}

.text-yellow-light-4 {
  color: #fdfa66;
}

.bg-yellow-light-4 {
  background: #fdfa66;
}

/* light hover */
.bg-hover-yellow-light-4 {
  transition: all 0.5s ease;
}
.bg-hover-yellow-light-4:hover {
  background: #fdfa66;
}

.text-yellow-light-5 {
  color: #fefb80;
}

.bg-yellow-light-5 {
  background: #fefb80;
}

/* light hover */
.bg-hover-yellow-light-5 {
  transition: all 0.5s ease;
}
.bg-hover-yellow-light-5:hover {
  background: #fefb80;
}

.text-yellow-light-6 {
  color: #fefc99;
}

.bg-yellow-light-6 {
  background: #fefc99;
}

/* light hover */
.bg-hover-yellow-light-6 {
  transition: all 0.5s ease;
}
.bg-hover-yellow-light-6:hover {
  background: #fefc99;
}

.text-yellow-light-7 {
  color: #fefdb3;
}

.bg-yellow-light-7 {
  background: #fefdb3;
}

/* light hover */
.bg-hover-yellow-light-7 {
  transition: all 0.5s ease;
}
.bg-hover-yellow-light-7:hover {
  background: #fefdb3;
}

.text-yellow-light-8 {
  color: #fefdcc;
}

.bg-yellow-light-8 {
  background: #fefdcc;
}

/* light hover */
.bg-hover-yellow-light-8 {
  transition: all 0.5s ease;
}
.bg-hover-yellow-light-8:hover {
  background: #fefdcc;
}

/* dark variations */
.text-yellow-dark-1 {
  color: #e3de00;
}

.bg-yellow-dark-1 {
  background: #e3de00;
}

/* dark hover */
.bg-hover-yellow-dark-1 {
  transition: all 0.5s ease;
}
.bg-hover-yellow-dark-1:hover {
  background: #e3de00;
}

.text-yellow-dark-2 {
  color: #cac600;
}

.bg-yellow-dark-2 {
  background: #cac600;
}

/* dark hover */
.bg-hover-yellow-dark-2 {
  transition: all 0.5s ease;
}
.bg-hover-yellow-dark-2:hover {
  background: #cac600;
}

.text-yellow-dark-3 {
  color: #b0ad00;
}

.bg-yellow-dark-3 {
  background: #b0ad00;
}

/* dark hover */
.bg-hover-yellow-dark-3 {
  transition: all 0.5s ease;
}
.bg-hover-yellow-dark-3:hover {
  background: #b0ad00;
}

.text-yellow-dark-4 {
  color: #979400;
}

.bg-yellow-dark-4 {
  background: #979400;
}

/* dark hover */
.bg-hover-yellow-dark-4 {
  transition: all 0.5s ease;
}
.bg-hover-yellow-dark-4:hover {
  background: #979400;
}

.text-yellow-dark-5 {
  color: #7e7c00;
}

.bg-yellow-dark-5 {
  background: #7e7c00;
}

/* dark hover */
.bg-hover-yellow-dark-5 {
  transition: all 0.5s ease;
}
.bg-hover-yellow-dark-5:hover {
  background: #7e7c00;
}

.text-yellow-dark-6 {
  color: #656300;
}

.bg-yellow-dark-6 {
  background: #656300;
}

/* dark hover */
.bg-hover-yellow-dark-6 {
  transition: all 0.5s ease;
}
.bg-hover-yellow-dark-6:hover {
  background: #656300;
}

.text-yellow-dark-7 {
  color: #4c4a00;
}

.bg-yellow-dark-7 {
  background: #4c4a00;
}

/* dark hover */
.bg-hover-yellow-dark-7 {
  transition: all 0.5s ease;
}
.bg-hover-yellow-dark-7:hover {
  background: #4c4a00;
}

.text-yellow-dark-8 {
  color: #323100;
}

.bg-yellow-dark-8 {
  background: #323100;
}

/* dark hover */
.bg-hover-yellow-dark-8 {
  transition: all 0.5s ease;
}
.bg-hover-yellow-dark-8:hover {
  background: #323100;
}

.text-white {
  color: white;
}

.bg-white {
  background: white;
}

.bg-hover-white {
  transition: all 0.5s ease;
}
.bg-hover-white:hover {
  background: white;
}

.card {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  margin: 1rem;
  border: 1px solid black;
  border-radius: 1.4285714286rem;
  box-shadow: 0 0 5px 5px #5a5a5a;
  width: 10rem;
}
.card .card-title {
  font-size: 2rem;
  text-align: center;
  text-shadow: 0 0 5px red;
}
.card .card-body {
  padding: 1rem;
  text-align: center;
  color: #9900ff;
}
.card .card-body a {
  color: green;
}

.btn {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  padding: 1rem;
  border-radius: 5rem;
  background: #e2e2e2;
}

.btn-primery {
  border: none;
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  padding: 1rem;
  border-radius: 5rem;
  background: #0059ff;
}
.btn-primery:hover {
  background: #1a6aff;
}

.btn-outlined-primery {
  border: 1px solid black;
  border-color: #0059ff;
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  padding: 1rem;
  border-radius: 5rem;
  background: transparent;
}
.btn-outlined-primery:hover {
  background: #1a6aff;
}

.btn-complement-primery {
  border: 1px solid black;
  border-color: #0059ff;
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  padding: 1rem;
  border-radius: 5rem;
  background: #0059ff;
  color: #ffb429;
}
.btn-complement-primery:hover {
  color: #0059ff;
  background: #ffb429;
}

.btn-warning {
  border: none;
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  padding: 1rem;
  border-radius: 5rem;
  background: #fbff00;
}
.btn-warning:hover {
  background: #fbff1a;
}

.btn-outlined-warning {
  border: 1px solid black;
  border-color: #fbff00;
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  padding: 1rem;
  border-radius: 5rem;
  background: transparent;
}
.btn-outlined-warning:hover {
  background: #fbff1a;
}

.btn-complement-warning {
  border: 1px solid black;
  border-color: #fbff00;
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  padding: 1rem;
  border-radius: 5rem;
  background: #fbff00;
  color: #2c29ff;
}
.btn-complement-warning:hover {
  color: #fbff00;
  background: #2c29ff;
}

.btn-danger {
  border: none;
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  padding: 1rem;
  border-radius: 5rem;
  background: red;
}
.btn-danger:hover {
  background: #ff1a1a;
}

.btn-outlined-danger {
  border: 1px solid black;
  border-color: red;
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  padding: 1rem;
  border-radius: 5rem;
  background: transparent;
}
.btn-outlined-danger:hover {
  background: #ff1a1a;
}

.btn-complement-danger {
  border: 1px solid black;
  border-color: red;
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  padding: 1rem;
  border-radius: 5rem;
  background: red;
  color: #29ffff;
}
.btn-complement-danger:hover {
  color: red;
  background: #29ffff;
}

.btn-black {
  border: none;
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  padding: 1rem;
  border-radius: 5rem;
  background: black;
}
.btn-black:hover {
  background: #0d0d0d;
}

.btn-outlined-black {
  border: 1px solid black;
  border-color: black;
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  padding: 1rem;
  border-radius: 5rem;
  background: transparent;
}
.btn-outlined-black:hover {
  background: #0d0d0d;
}

.btn-complement-black {
  border: 1px solid black;
  border-color: black;
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  padding: 1rem;
  border-radius: 5rem;
  background: black;
  color: #141414;
}
.btn-complement-black:hover {
  color: black;
  background: #141414;
}

.btn-red {
  border: none;
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  padding: 1rem;
  border-radius: 5rem;
  background: red;
}
.btn-red:hover {
  background: #ff1a1a;
}

.btn-outlined-red {
  border: 1px solid black;
  border-color: red;
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  padding: 1rem;
  border-radius: 5rem;
  background: transparent;
}
.btn-outlined-red:hover {
  background: #ff1a1a;
}

.btn-complement-red {
  border: 1px solid black;
  border-color: red;
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  padding: 1rem;
  border-radius: 5rem;
  background: red;
  color: #29ffff;
}
.btn-complement-red:hover {
  color: red;
  background: #29ffff;
}

.btn-green {
  border: none;
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  padding: 1rem;
  border-radius: 5rem;
  background: #2bff00;
}
.btn-green:hover {
  background: #40ff1a;
}

.btn-outlined-green {
  border: 1px solid black;
  border-color: #2bff00;
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  padding: 1rem;
  border-radius: 5rem;
  background: transparent;
}
.btn-outlined-green:hover {
  background: #40ff1a;
}

.btn-complement-green {
  border: 1px solid black;
  border-color: #2bff00;
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  padding: 1rem;
  border-radius: 5rem;
  background: #2bff00;
  color: #db29ff;
}
.btn-complement-green:hover {
  color: #2bff00;
  background: #db29ff;
}

.btn-magenta {
  border: none;
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  padding: 1rem;
  border-radius: 5rem;
  background: #9900ff;
}
.btn-magenta:hover {
  background: #a31aff;
}

.btn-outlined-magenta {
  border: 1px solid black;
  border-color: #9900ff;
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  padding: 1rem;
  border-radius: 5rem;
  background: transparent;
}
.btn-outlined-magenta:hover {
  background: #a31aff;
}

.btn-complement-magenta {
  border: 1px solid black;
  border-color: #9900ff;
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  padding: 1rem;
  border-radius: 5rem;
  background: #9900ff;
  color: #7eff29;
}
.btn-complement-magenta:hover {
  color: #9900ff;
  background: #7eff29;
}

.btn-yellow {
  border: none;
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  padding: 1rem;
  border-radius: 5rem;
  background: #fcf700;
}
.btn-yellow:hover {
  background: #fffa17;
}

.btn-outlined-yellow {
  border: 1px solid black;
  border-color: #fcf700;
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  padding: 1rem;
  border-radius: 5rem;
  background: transparent;
}
.btn-outlined-yellow:hover {
  background: #fffa17;
}

.btn-complement-yellow {
  border: 1px solid black;
  border-color: #fcf700;
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  padding: 1rem;
  border-radius: 5rem;
  background: #fcf700;
  color: #262aff;
}
.btn-complement-yellow:hover {
  color: #fcf700;
  background: #262aff;
}

.btn-white {
  border: none;
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  padding: 1rem;
  border-radius: 5rem;
  background: white;
}
.btn-white:hover {
  background: white;
}

.btn-outlined-white {
  border: 1px solid black;
  border-color: white;
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  padding: 1rem;
  border-radius: 5rem;
  background: transparent;
}
.btn-outlined-white:hover {
  background: white;
}

.btn-complement-white {
  border: 1px solid black;
  border-color: white;
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  padding: 1rem;
  border-radius: 5rem;
  background: white;
  color: white;
}
.btn-complement-white:hover {
  color: white;
  background: white;
}

.p-0 {
  padding: 0;
}

.p-1 {
  padding: 1rem;
}

.p-2 {
  padding: 2rem;
}

.p-3 {
  padding: 4rem;
}

.p-4 {
  padding: 6rem;
}

.p-5 {
  padding: 8rem;
}

.pl-0 {
  padding-left: 0;
}

.pl-1 {
  padding-left: 1rem;
}

.pl-2 {
  padding-left: 2rem;
}

.pl-3 {
  padding-left: 4rem;
}

.pl-4 {
  padding-left: 6rem;
}

.pl-5 {
  padding-left: 8rem;
}

.pr-0 {
  padding-right: 0;
}

.pr-1 {
  padding-right: 1rem;
}

.pr-2 {
  padding-right: 2rem;
}

.pr-3 {
  padding-right: 4rem;
}

.pr-4 {
  padding-right: 6rem;
}

.pr-5 {
  padding-right: 8rem;
}

.pb-0 {
  padding-bottom: 0;
}

.pb-1 {
  padding-bottom: 1rem;
}

.pb-2 {
  padding-bottom: 2rem;
}

.pb-3 {
  padding-bottom: 4rem;
}

.pb-4 {
  padding-bottom: 6rem;
}

.pb-5 {
  padding-bottom: 8rem;
}

.pt-0 {
  padding-top: 0;
}

.pt-1 {
  padding-top: 1rem;
}

.pt-2 {
  padding-top: 2rem;
}

.pt-3 {
  padding-top: 4rem;
}

.pt-4 {
  padding-top: 6rem;
}

.pt-5 {
  padding-top: 8rem;
}

.m-0 {
  margin: 0;
}

.m-1 {
  margin: 1rem;
}

.m-2 {
  margin: 2rem;
}

.m-3 {
  margin: 4rem;
}

.m-4 {
  margin: 6rem;
}

.m-5 {
  margin: 8rem;
}

.ml-0 {
  margin-left: 0;
}

.ml-1 {
  margin-left: 1rem;
}

.ml-2 {
  margin-left: 2rem;
}

.ml-3 {
  margin-left: 4rem;
}

.ml-4 {
  margin-left: 6rem;
}

.ml-5 {
  margin-left: 8rem;
}

.mr-0 {
  margin-right: 0;
}

.mr-1 {
  margin-right: 1rem;
}

.mr-2 {
  margin-right: 2rem;
}

.mr-3 {
  margin-right: 4rem;
}

.mr-4 {
  margin-right: 6rem;
}

.mr-5 {
  margin-right: 8rem;
}

.mb-0 {
  margin-bottom: 0;
}

.mb-1 {
  margin-bottom: 1rem;
}

.mb-2 {
  margin-bottom: 2rem;
}

.mb-3 {
  margin-bottom: 4rem;
}

.mb-4 {
  margin-bottom: 6rem;
}

.mb-5 {
  margin-bottom: 8rem;
}

.mt-0 {
  margin-top: 0;
}

.mt-1 {
  margin-top: 1rem;
}

.mt-2 {
  margin-top: 2rem;
}

.mt-3 {
  margin-top: 4rem;
}

.mt-4 {
  margin-top: 6rem;
}

.mt-5 {
  margin-top: 8rem;
}